<div class="commentary-container" *ngIf="commentState.state === 'display'" [ngClass]="{'commentary-edit-highlightable': editable()}" (click)='$event.stopPropagation(); onCommentEdit()'>
    <div class='header-text' fxLayout="row">
        <div class="header-text-title">
            <strong>{{comment.userFirstName | titlecase}}
                    {{comment.userLastName | titlecase }}</strong>
        </div>
        <mat-card-subtitle>
            {{ getUpdatedOrCreatedTime() | signtime }}
            <span class="header-text-indicator" *ngIf="inputContent.length === 0 && (comment.updateDate.length > 0  && comment.updateDate !== comment.insertDate)">
                        Edited</span>
            <span class="header-text-indicator" *ngIf="inputContent.length > 0">Edting</span>
        </mat-card-subtitle>
        <button mat-icon-button class='header-action-icon'>
                        <i class="material-icons-outlined">create</i> Edit
                    </button>
    </div>
    <mat-card-content style='margin-bottom: 0;' [ngClass]="{'commentary-anchored-highlightable': anchored()}">
        {{comment.discrepancyComment}}
    </mat-card-content>
</div>
<!-- @userClick (clickOutside)="onInputDismiss($event)"  -->
<app-commentary-input *ngIf="commentState.state === 'edit'" appClickOutside [commentState]='commentState' (onCommentChange)="onCommentChanged($event)" (onCommentSubmit)="onCommentUpdate($event)" (onCommentCancel)="onCommentCancel($event)"></app-commentary-input>