.setting-user-container {
    position: relative;
    padding: 24px;
}

.setting-user-button-container {
    position: fixed;
    right: 24px;
    bottom: 24px;
}

.setting-user-actions-conatiner {
    padding: 1.25em 24px 0 24px;
}

.app-setting-user-list {
    width: 1000px;
}

.mat-form-field-narrow {
    width: 170px;
    padding-right: 10px;
}