<div class="setting-ratecard-list-container">
    <div class="table-container">

        <table mat-table matSort (matSortChange)="onSort($event)" [dataSource]="pagedData" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Selection Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? onMemebrSelect(row) : null" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Rate Cell Column -->
            <ng-container matColumnDef="ccaratecell">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate Cell </th>
                <td mat-cell *matCellDef="let element"> {{element.ccaRateCell}} </td>
            </ng-container>

            <!-- Region Column -->
            <ng-container matColumnDef="ccaregion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Region </th>
                <td mat-cell *matCellDef="let element"> {{element.ccaRegion}} </td>
            </ng-container>

            <!-- Rate Column -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
                <td mat-cell *matCellDef="let element"> {{element.amount.toFixed(2) | currency}} </td>
            </ng-container>

            <!-- Start Date Column -->
            <ng-container matColumnDef="startdate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate | sqlDateFormat}} </td>
            </ng-container>

            <!-- End Date Column -->
            <ng-container matColumnDef="enddate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                <td mat-cell *matCellDef="let element"> {{element.endDate | sqlDateFormat }} </td>
            </ng-container>

            <!-- Product Column -->
            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
                <td mat-cell *matCellDef="let element"> {{element.product}} </td>
            </ng-container>

            <!-- Eligiblity Column -->
            <ng-container matColumnDef="eligiblity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Eligiblity </th>
                <td mat-cell *matCellDef="let element"> {{element.eligibility}} </td>
            </ng-container>

            <!-- Active Column -->
            <ng-container matColumnDef="activeflag">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle color="primary" [disabled]="!isAuthorized('update')" [(ngModel)]="element.activeFlag" (click)="onItemToggleClick(element, 'active')">
                    </mat-slide-toggle>
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="onEdit(element)" [disabled]="!isAuthorized('update')" mat-button color="primary">Edit</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                {{dataSource}}
            </tr>
        </table>
        <mat-card class='pagination-container'>
            <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageState.pageIndex" [length]="pageState.count" (page)="onPage($event)" color='warm' showFirstLastButtons></mat-paginator>
        </mat-card>
    </div>
</div>