<div class='info-overlay'>
    <mat-card fxLayout="row" fxLayoutAlign="begin begin" class='info-container'>
        <div fxFlex=23 class='info-img'>
            <!-- <img id="logo" src="../../../assets/logo.png" alt=""> -->
            <i class="material-icons" style="font-size: 180px;     color: #777;">
                lock
                </i>
        </div>

        <div fxFlex=76 class='info-content'>
            <div class="info-title">
                <h1>
                    Unauthorized
                </h1>
                <p>you don't have the permission to view this page</p>
            </div>
            <mat-divider inset></mat-divider>
            <div class="info-subtitle">
                Think this is wrong? Contact us and we'll check your permission
            </div>
        </div>

    </mat-card>
</div>