<mat-toolbar color="primary" class='toolbar-shadow'>
    <div>
        <!-- fxHide.gt-md -->
        <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    </div>
    <div>
        <a routerLink='home'>
            <strong>
                    Revenue Reconciliation for Medicaid 
                    </strong>
            <!-- <span style='font-size: 13px;'>{{getDate()}}</span> -->
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="44px" class="navigation-items">
            <li>
                <div appClickOutside (clickOutside)="onUniversalSearchDismiss()" class='universal-search-wrapper'>
                    <div (click)='isAuthed() && onUniversalSearchExpand()' class='universal-search' [ngClass]="{'universal-search-focus-within': inputActive}">
                        <form [formGroup]="searchForm">
                            <input #usInputRef formControlName="universalInput" class='universal-search-input' placeholder="Type to search" type="text" [ngClass]="{'universal-search-input-focus': inputActive}">
                            <mat-icon class="mat-18 universal-input-icon">search</mat-icon>
                        </form>
                    </div>
                    <div>
                        <div @universalSearchState *ngIf='inputActive' class="universal-search-result">
                            <div class="universal-search-result-inputvalue">
                                <span>Search For</span>: <strong>{{searchForm.get('universalInput').value}}</strong>
                            </div>

                            <section *ngIf="searchForm.get('universalInput').value" class="universal-search-result-fields">

                                <section *ngIf="memebrNameResults && memebrNameResults.length > 0" class="universal-search-result-field">
                                    <div class="universal-search-result-field-title">
                                        Members:
                                    </div>
                                    <div class="universal-search-result-field-content">
                                        <div *ngFor="let item of memebrNameResults" class="universal-search-result-field-content-item-list">
                                            <div (click)="onResultItemClick(item, 'members')" class="universal-search-result-field-content-item">
                                                <div class="universal-search-result-field-content-item-info">
                                                    {{item.memberFirstName | titlecase}} {{item.memberLastName | titlecase}} ({{item.mmiS_MMIS_ID}})

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!memebrNameResults" class="universal-search-result-field-content">
                                        <div *ngFor="let item of searchHistory" class="universal-search-result-field-content-item-list">
                                            <div (click)="onResultItemClick(item, 'members')" class="universal-search-result-field-content-item">
                                                <div class="universal-search-result-field-content-item-info">
                                                    {{item.memberFirstName | titlecase}} {{item.memberLastName | titlecase}} ({{item.mmiS_MMIS_ID}})

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="universal-search-result-field-actions">

                                    </div>

                                </section>

                                <mat-divider></mat-divider>


                                <!-- <section class="universal-search-result-field">
                                    <div class="universal-search-result-field-title">
                                        History:
                                    </div>
                                    <div class="universal-search-result-field-content">
                                        <div *ngFor="let item of searchHistory" class="universal-search-result-field-content-item-list">
                                            <div (click)="onResultItemClick(item, 'members')" class="universal-search-result-field-content-item">
                                                <div class="universal-search-result-field-content-item-info">
                                                    {{item.memberFirstName | titlecase}} {{item.memberLastName | titlecase}} ({{item.mmiS_MMIS_ID}})

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="universal-search-result-field-actions">

                                    </div>

                                </section> -->


                                <!-- <section class="universal-search-result-field">
                                <div class="universal-search-result-field-title">
                                    Discrepancy
                                </div>
                                <div class="universal-search-result-field-content">
                                    
                                </div>
                                <div class="universal-search-result-field-actions">
                                    
                                </div>
                            </section>
                            <mat-divider></mat-divider> -->
                                <!-- <section class="universal-search-result-field">
                                <div class="universal-search-result-field-title">
                                    My Working List
                                </div>
                                <div class="universal-search-result-field-content">
                                    
                                </div>
                                <div class="universal-search-result-field-actions">
                                    
                                </div>
                            </section>
                            <mat-divider></mat-divider> -->

                            </section>



                            <section *ngIf="!searchForm.get('universalInput').value" class="universal-search-result-fields">
                                <section class="universal-search-result-field">
                                    <div class="universal-search-result-field-title">
                                        History:
                                    </div>
                                    <div class="universal-search-result-field-content">
                                        <div *ngFor="let item of searchHistory" class="universal-search-result-field-content-item-list">
                                            <div (click)="onResultItemClick(item, 'members')" class="universal-search-result-field-content-item">
                                                <div class="universal-search-result-field-content-item-info">
                                                    {{item.memberFirstName | titlecase}} {{item.memberFirstName | titlecase}} {{item.memberLastName | titlecase}} ({{item.mmiS_MMIS_ID}})

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="universal-search-result-field-actions">

                                    </div>

                                </section>



                            </section>
                            <!-- <mat-card-content>
                                My Working List
                            </mat-card-content>
                            <mat-card-actions align="start">
                                <button mat-button (click)="onAction1">Action1</button>

                            </mat-card-actions> -->
                            <mat-card-footer style="margin: 0; color: white;">
                                Footer
                                <!-- <span *ngIf="searchLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> -->
                            </mat-card-footer>
                        </div>
                    </div>
                </div>
            </li>

            <li *ngIf='!isAuth()'>
                <!-- routerLink="/login" -->
                <a (click)="onLogin()">Login</a>
            </li>

            <li *ngIf='isAuth()'>
                <!-- (click)='onLogout()' -->

                <button id="user-menu" mat-button>
                    <a  style='cursor:pointer;'>Hi, {{getUser()}}</a>
                    <mat-icon aria-hidden="true" role="img" class="mat-icon notranslate material-icons mat-icon-no-color">arrow_drop_down</mat-icon>
                </button>
                <button mat-icon-button class="notification" matBadgePosition="after" [matMenuTriggerFor]="notificationMenu" [matBadgeHidden]="!getNotification()" [matBadge]="getNotification()" matBadgeColor="warn" (click)="clearNotification()"><mat-icon>notifications</mat-icon></button>
                <mat-menu class="notification-list" #notificationMenu="matMenu" [overlapTrigger]="false" yPosition="below">
                    <button *ngIf="alertList.length === 0" [disabled]="true" mat-menu-item>No Notification</button>
                    <div *ngFor="let alert of alertList" [ngSwitch]="getNotificationType(alert)">
                        <div mat-menu-item [ngClass]="{'alert-item-highlight': isNotificationHighlighted(alert)}" (click)="onNoticationItemClick(alert)" class="alert-item">


                            <div *ngSwitchCase="'discrepancy'">
                                <div class="alert-item-title">
                                    <strong>{{ alert.ActionUserName }} </strong> assigned you {{alert.NotificationObject.length}} Discrepancy
                                </div>
                                <div class="alert-item-time">
                                    {{ alert.EntryTime | signtime }}
                                </div>
                            </div>

                            <div *ngSwitchCase="'member'">
                                <div class="alert-item-title">
                                    <strong>{{ alert.ActionUserName }} </strong> assigned you {{alert.NotificationObject.length}} Member
                                </div>
                                <div class="alert-item-time">
                                    {{ alert.EntryTime | signtime }}
                                </div>
                            </div>

                            <div *ngSwitchCase="'comment'">
                                <div class="alert-item-title">
                                    <strong>{{alert.ActionUserName}} </strong> mentioned you
                                </div>
                                <div class="alert-item-time">
                                    {{ alert.EntryTime | signtime }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="notification-clear" mat-menu-item disableRipple="true">
                        <button mat-button (click)="clearAlertList()">Dismiss</button>
                    </div>
                </mat-menu>
            </li>
        </ul>
    </div>
</mat-toolbar>