<div class="setting-discrepancy-status-list-container">
    <div class="table-container">

        <table mat-table matSort [dataSource]="pagedData" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

            <!-- Selection Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox [disabled]="row.discrepancyStatusType === 0" (click)="$event.stopPropagation()" (change)="$event ? onMemebrSelect(row) : null" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{ element.discrepancyStatus }} </td>
            </ng-container>

            <!-- Category Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let element"> {{ element.discrepancyCategory }} </td>
            </ng-container>

            <!-- Active Column -->
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle color="primary" [disabled]="!isAuthorized('update') || element.discrepancyStatusType === 0" [(ngModel)]="element.activeFlag" (click)="onItemToggleClick(element, 'active')">
                    </mat-slide-toggle>
                </td>
            </ng-container>

            <!-- DiscrepnacyType Column -->
            <ng-container matColumnDef="discrepnacyType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.discrepancyStatusType === 1 ? 'User Entered' : "System" }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                {{dataSource}}
            </tr>
        </table>
        <mat-card class='pagination-container'>
            <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageState.pageIndex" [length]="pageState.count" (page)="onPage($event)" color='warm' showFirstLastButtons></mat-paginator>
        </mat-card>
    </div>

</div>