.setting-ratecards-container {
    position: relative;
    padding: 24px;
}

.setting-ratecards-button-container {
    position: fixed;
    right: 24px;
    bottom: 24px;
}

.setting-rate-cards-actions-conatiner {
    padding: 1.25em 24px 0 24px;
}

.app-setting-ratecard-list {
    width: 800px;
}

.mat-form-field-narrow {
    width: 170px;
    padding-right: 10px;
}