.bulk-update-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.bulk-update-field {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.value-hightlight {
    color: #467e99;
    font-size: 18px;
}

.mat-form-field-narrow {
    width: 50%;
}

.create-field>mat-form-field {
    padding-left: 0px;
    padding-right: 24px;
}

.create-field-subtitle {
    padding-top: 12px;
    padding-bottom: 12px;
}

.create-field>div>mat-checkbox {
    padding-right: 24px;
    margin-top: 12px;
}

.mat-dialog-actions {
    position: absolute;
    bottom: 0;
    right: 0;
}

.dialog-container {
    position: relative;
    height: 100%;
    width: 100%;
}