.host {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #fff;
    border-radius: 2.5px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
    position: relative;
    overflow: hidden;
}

.discrepancy-detial-container {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    transition: .3s ease-in;
}

.discrepancy-detail-content-wrapper {
    position: relative;
    height: 100%;
    padding-right: 10px;
    overflow: auto;
}

.discrpancy-container-action {
    position: absolute;
    top: 40%;
    right: -9px;
}

#container-action-sidetoggle {
    opacity: .4;
    /* color: #31708e; */
    /* font-size: 42px; */
    transition: .2s;
    width: 28px;
    height: 28px;
}

#container-action-sidetoggle i {
    margin-top: -12px
}

#container-action-sidetoggle:hover,
#container-action-sidetoggle:active {
    opacity: 1;
}

.chevron-rotate {
    transform: rotate(180deg);
}

.container-action {
    position: absolute;
    top: 2px;
    right: 2px;
}

mat-divider {
    margin: 1px;
    /* width:100%; */
}

.table-container {
    position: relative;
    border: 1px solid #eaeaea;
}

table {
    width: 100%;
}

#side-component-container {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    transition: .3s .3s;
    border-left: 1px solid #eaeaea;
}

.side-retrived {
    transform: translateX(100%);
}

a {
    text-decoration: none;
}

.mat-table-border-right {
    border-right: 1px solid #e0e0e0;
}

.mat-table-border-top {
    border-top: 1px solid #e0e0e0;
}

.mat-header-cell {
    font-weight: bolder;
}

.mat-column-Source {
    border-top: 1px solid #e0e0e0;
    white-space: nowrap;
    color: #555;
    padding-right: 13px;
    cursor: pointer;
    transition: .2s;
}

.mat-column-Source-active {
    color: #31708e;
    font-weight: bolder;
}

table.mat-table {
    border-spacing: 0;
    border-collapse: separate;
}

.column-within-month {
    border-right: 2px solid #31708e;
    border-left: 2px solid #31708e;
    left: 142px !important;
    /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3); */
    border-bottom: none;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding-right: 0;
}

.mat-header-cell,
.mat-table-cell-value {
    padding-left: 13px;
    padding-right: 13px;
}

.mat-table-cell-value {
    /* border-top: 1px solid #777;
    border-bottom: 1px solid #777; */
    margin-bottom: 6px;
    background-color: #31708e;
    color: #fff;
    /* this used to cover the table border */
    margin-right: -1px;
}

.mat-table-cell-value-end {
    padding-right: 7px;
    margin-right: 6px;
    /* border-right: 1px solid #777; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mat-table-cell-value-start {
    padding-left: 7px;
    margin-left: 6px;
    /* border-left: 1px solid #777; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mat-table-cell-indicator {
    /* background-color: #fff; */
    height: 8px;
    /* margin-top: -9px; */
    /* border-bottom: 1px solid #eaeaea; */
    margin-top: 6px;
    margin-bottom: 4px;
}

.mat-table-data-diff {
    transition: .2s;
    /* background-color: #778674; */
    background-color: #8e3150;
    color: #fff;
}

.mat-table-cell-indicator-active {
    background-color: #318e4e;
    /* this used to cover the table border */
    margin-right: -1px;
}

th+.column-within-month {
    border-top: 2px solid #31708e;
}

tr:last-child td+.column-within-month {
    border-bottom: 2px solid #31708e;
}

.mat-card-content-cell-header,
.mat-card-title {
    font-weight: bolder;
    color: #31708e;
}

.variance-active {
    font-weight: bolder;
    color: #333;
}

.discrepancy-type-card {
    padding-bottom: 4px;
    cursor: pointer;
}

.discrepancy-type-card {
    transition: .1s;
    padding-bottom: 4px;
    cursor: pointer;
}

.discrepancyType-active {
    border-bottom: 2px solid #31708e;
    padding-bottom: 2px;
}

.button-group-tip {
    display: inline-block;
    padding: 2px 8px;
    color: #777;
}

.comparison-legend {
    float: right;
    display: inline-block;
    height: 100px;
    width: 40%;
    min-width: 310px;
    margin-right: 0;
    margin-left: auto;
    padding-top: 10px;
}

.comparison-legend-item {
    display: block;
}

.comparison-legend-item-icon {
    display: inline-block;
    height: 12px;
    width: 50px;
}

#discrepancy-month {
    border: 2px solid #31708e;
    /* box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12); */
}

#mds-month {
    background-color: #318e4e;
}

#diff-month {
    background-color: #8e3150;
    color: #fff;
}

.comparison-legend-item-description {
    display: inline-block;
    font-size: 14px;
    color: #777;
    padding-left: 12px;
}

#table-tooltip {
    position: absolute;
    display: block;
    border: 1px solid #eaeaea;
    padding: 24px;
    background-color: #ffffff;
    z-index: 2;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}