<mat-card class='host'>
    <div class="commentary-tool-bar" *ngIf="displayDiscrepancyInfo">
        <div class="commentary-tool-bar-info">
            <div class="commentary-tool-bar-info-title">
                Discrepancy Comments
            </div>
            <div fxLayout="row" id="discrepancy-info-container" fxLayoutAlign="begin begin">
                <div fxFlex="100">
                    <span class="card-subtitle mb-2 text-muted">Month</span>
                    <h6 class="card-title" style="font-weight: bolder">{{ (discrepancy ? discrepancy.memberMonth : null) | sqlDateFormat}}</h6>
                </div>
                <div fxFlex="20">
                    <span class="card-subtitle mb-2 text-muted">Rate Cell</span>
                    <h6 class="card-title">{{ discrepancy ? discrepancy.ccaRateCell : ''}} vs {{discrepancy? discrepancy.mmisRateCell: ''}} </h6>
                </div>
                <div fxFlex="20">
                    <span class="card-subtitle mb-2 text-muted">Region</span>
                    <h6 class="card-title">{{discrepancy ? discrepancy.ccaRegion: ''}} vs {{discrepancy ? discrepancy.mmisRegion : ''}} </h6>
                </div>
                <div fxFlex="20">
                    <span class="card-subtitle mb-2 text-muted">Patient Pay</span>
                    <h6 class="card-title"> {{(discrepancy ? discrepancy.ccaPatientPay : 0) | currency}} vs {{(discrepancy ? discrepancy.mmisPatientPay : 0) | currency}}</h6>

                </div>
                <div fxFlex="20">
                    <span class="card-subtitle mb-2 text-muted">Spend Down</span>
                    <h6 class="card-title"> {{(discrepancy ? discrepancy.ccaPatientSpendDown : 0) | currency}} vs {{(discrepancy? discrepancy.mmisPatientSpendDown: 0) | currency}} </h6>

                </div>

            </div>

        </div>
        <div class="commentary-tool-bar-action">
            <button mat-icon-button id="commentary-tool-bar-action-close" (click)='$event.stopPropagation(); onDismissClick()'>
          <i class="material-icons-outlined">close</i>
        </button>
        </div>
    </div>
    <mat-divider style="z-index: 1"></mat-divider>
    <div #commentaryEf class='member-discrepancy-tip' [ngStyle]="{'max-height.px': inputEfHeight,
    'height.px': inputEfHeight}">
        <div class='commentary-list-container'>
            <div *ngFor='let comment of sourceComments'>
                <div class="commentary-item-container">
                    <app-commentary-list-item [actionUser]='actionUser' [anchoredCommentId]='anchoredCommentId' [source]='comment' [masterPatientID]="masterPatientID"></app-commentary-list-item>
                </div>
            </div>
            <div *ngIf='sourceComments.length === 0'>
                No Comments
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div #inputEf class='input-container'>
        <app-commentary-input (onCommentSubmit)="onCommentSubmited($event)" (onCommentHeightChanged)="onInputChange($event)"></app-commentary-input>
    </div>
</mat-card>