<div class="setting-discrepancy-category-container">
    <div class="app-setting-discrepancy-category-list">
        <br>
        <app-setting-discrepancy-category-list [updatePermissions]="updatePermissions" [sourcePaged]="pagedSource" (onPagedAndSorted)='onListPagedSorted($event)' (onUpdated)="onUpdate($event)" (onEditted)="onEditted($event)" (discrepancyCategorySelected)='onDiscrepnacyCategorySelected($event)'></app-setting-discrepancy-category-list>
    </div>
</div>

<div class="setting-discrepancy-category-button-container">
    <div fxLayout="column " fxLayoutAlign="begin begin " fxLayoutGap="20px">
        <div @button-edit-slide *ngIf="isAuthorized('update') && selection.hasValue()">
            <button (click)="openDialog( 'bulk_update')" mat-fab color="primary">
              <i class="material-icons ">
                  edit
              </i>
          </button>
        </div>
        <div *ngIf="isAuthorized('create')">
            <button (click)="openDialog('create')" mat-fab color="primary">
              <i class="material-icons">
                add
              </i>
            </button>
        </div>
    </div>
</div>