<div class="bulk-update-container">
    <h2 mat-dialog-title>{{ stateOptions[data.type].title }} Discrepancy Category</h2>
    <form [formGroup]="form">
        <div>
            <p *ngIf="data.type === 'bulk_update' && data.selection.hasValue()"> {{data.selection.selected.length}} discrepancy category been selected</p>
            <mat-divider></mat-divider>
            <br>
            <div class="create-field" *ngIf="data.type === 'create' || 'update'">
                <mat-form-field class='bulk-update-field'>
                    <input matInput type="text" placeholder="Category" formControlName="discrepancyCategory">
                </mat-form-field>
            </div>
            <div class="create-field" *ngIf="data.type === 'create' || 'update'">
                <mat-form-field class='bulk-update-field'>
                    <textarea matInput type="text" style='resize: none;' formControlName="discrepancyCategoryDescription" maxlength="250" placeholder="Description"></textarea>
                </mat-form-field>
            </div>

            <section class='mat-form-field-narrow'>
                <mat-slide-toggle formControlName="discrepancyCategoryDisplay" class="example-margin" color="primary" [checked]="'checked'">
                    Display
                </mat-slide-toggle>

                <mat-slide-toggle formControlName="activeFlag" class="example-margin" color="primary" [checked]="'checked'">
                    Active
                </mat-slide-toggle>
            </section>
        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="onClose()">Cancel</button>
            <button mat-button (click)="onSave()">Save</button>
        </div>
    </form>
</div>