.cursor-pointer {
    cursor: pointer;
}

table {
    width: 100%;
    /* min-width: 1000px; */
}

.table-container {
    /* max-height:  calc(100vh - 150px);  */
    max-height: calc(100vh - 210px);
    height: calc(100vh - 210px);
    overflow: auto;
}

.mat-header-cell,
.mat-cell {
    white-space: nowrap;
    padding: 0 4px;
    overflow: hidden;
}

.table-wrapper {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}

mat-paginator {
    position: relative;
    bottom: 0;
}

.overlay {
    position: relative;
    display: inline-block;
    width: 100%;
}

#loding-wrapper {
    background: rgba(255, 255, 255, 0.77);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 199;
}

mat-spinner {
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    right: 0;
    margin: auto;
}

.mat-standard-chip {
    padding: 3px 9px;
}

.member-tip-overlay {
    position: absolute;
    left: 0;
    /* right depends on the content length, incase it is not long enought  */
    right: 0;
    bottom: 0;
    z-index: 104;
}

.material-icons-outlined {
    font-size: 20px;
}


/* disable mat-placeholder script */

.mat-icon-button {
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #777;
}


/* in-cell full-width display */

.mat-form-field {
    width: 100%;
}

.cell-display {
    cursor: pointer;
}

.cell-display-not-allowed {
    cursor: not-allowed;
}

.cell-display-info {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transition: .2s;
    /* @Temp solution t */
    min-height: 20px;
}

.cell-display-icon {
    position: relative;
    opacity: 0;
    height: 21px;
    width: 21px;
    margin-top: -20px;
    float: right;
    transition: .2s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cell-display:hover {
    background-color: #eaf1f3;
    width: 100%;
}

.cell-display:hover>.cell-display-info {
    width: calc(100% - 21px);
}

.cell-display:hover>.cell-display-icon,
.cell-display:active>.cell-display-icon {
    color: #777;
    opacity: 1;
}

.cell-input-field {
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-hightlight {
    color: #fff;
    background-color: #629eb3;
}

.mat-cell-wrap {
    white-space: normal;
    word-break: break-word;
}

.mat-cell-wrap>span {
    white-space: nowrap;
    word-break: none;
}

.mat-cell-wrap-l {
    max-width: 85px;
    min-width: 85px;
}

.mat-cell-wrap-s {
    max-width: 65px;
    min-width: 65px;
}

.mat-column-memberMonth {
    padding-right: 12px;
}

.slide-margin {
    margin-right: 12px;
}

.mat-table-border-right {
    border-right: 1px solid #e0e0e0;
    padding-right: 4px;
}

.mat-table-border-left {
    padding-left: 4px;
    border-left: 1px solid #e0e0e0;
}


/* centralize mat-badge */

.mat-badge-content {
    top: -4px !important;
    right: -16px !important;
}

.variance-cell {
    padding: 3px 12px;
    font-size: 13px;
    transition: .15s;
}

.variance-cell-highlighted {
    background: #31708e;
    color: #fff;
    border-radius: 20px;
    /* font-weight: bolder; */
}